@charset "utf-8";
/* CSS Document */
#head{
	height:75px;
	width:1920px;
	/*background:#393CE0;*/
	background: #363735;
	color:white;
	position:fixed;
	top:0px;
	left:0px;
}
#carimg{
	width:15%;
	position:absolute;
	left:43%;
	top:120px;
}
#input_partsname{
	position:absolute;
	width:600px;
	height: 30px;
	left:650px;
	top:250px;
	font-size: 18px;
}
.search_button{
	position:absolute;
	top:250px;
	left:1257px;
	width:36px;
	height:36px;
	background: url("/images/search.jpg") no-repeat;
	background-color: white;
	cursor:pointer;
}
.output_div{
	position:absolute;
	top:320px;
	left:340px;
}
#output{
	position:absolute;
	width:1200px;
	border-collapse: collapse;
	background: white;
}
#output tr{
	height:40px;
	font-size:20px;
}
#output tr:first-child{
	background:#B1AEAE;
	color:black;
	font-size:23px;
}
#output tr:hover{
	background-color:#B1AEAE;
}
li{
	list-style: none;
	font-size:18px;
}
.user_div{
	position: fixed;
	right: 50px;
	top: 0px;
	width:150px;
	/*background:#C4D542;*/
	background: #363735;
	border-radius: 12px;
	color:white;
}
.user_div ul{
	font-size:25px;
}
#two{
	display:none;
}
ul:hover #two{
	display:block;
	cursor: pointer;
}
#two2{
	 display:none;
 }
ul:hover #two2{
	display:block;
	cursor: pointer;
}
#buy_div{
	width:480px;
	position: fixed;
	top:300px;
}
#buy_div table{
	position:absolute;
	width:80px;
	border-collapse: collapse;
	background: #EAED69;
}
#buy_div table tr{
	height:40px;
}
#buy_div button{
	position:absolute;
	left:240px;
	top:85px;
	height:40px;
	border-radius: 8px;
	cursor:pointer;
	font-size:18px;
}
#buy_div input{
	height:36px;
	width:160px;
	font-size:18px;
}
#showb{
	position:fixed;
	left:480px;
	top:250px;
	font-size:18px;
	border-radius: 8px;
	height:36px;
}
#order_div{
	position:fixed;
	top:320px;
	left:600px;

}
#order_div table{
	width:800px;
	border-collapse: collapse;
	color:black;
}
#order_div table tr:first-child{
	background: #EAED69;
}
#order_div table tr{
	height:40px;
	font-size:20px;
	background: whitesmoke;
}
#order_div p{
	font-size:25px;
	position:absolute;
	left:350px;
	top:-60px;
}
